<h3>Search Results...</h3>

We think you might look like the following people...

<% @results.each do |user_id, data| %>
  <img src=<%= data["url"] %> />
  (<%= data["confidence"] %> % sure)
<% end %>
