<h3>Search Results...</h3>

We think you might look like the following people...

<% @results.each do |r| %>
  <% result = r[r.keys.first] %>
  <img src=<%= result["url"] %> />
  (<%= result["confidence"] %> % sure)
<% end %>
