<!-- FROM HERE -->
    <div id="boxing">
      <div class="boxes">
        <h2>Face Recognition</h2>
        <div class="inBoxes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis massa vitae magna sollicitudin laoreet. Sed ac mattis massa. Fusce semper ultricies tortor eu condimentum. Nullam vitae leo quis mi sollicitudin tristique. Fusce ut magna at sem facilisis luctus tincidunt a lorem. </div>
      </div>

      <div class="boxes">
        <h2>What Have We Done?</h2>
        <h3></h3>
        <img src="http://lallopa.com/cmn/img/missing.jpg"  class="syria" />
        <div class="inBoxes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis massa vitae magna sollicitudin laoreet. Sed ac mattis massa. Fusce semper ultricies tortor eu condimentum. Nullam vitae leo quis mi sollicitudin tristique. Fusce ut magna at sem facilisis luctus tincidunt a lorem. </div>
      </div>

      <div class="boxes">
        <h2>Are you missing Someone?</h2>
        <div class="inBoxes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis massa vitae magna sollicitudin laoreet. Sed ac mattis massa. Fusce semper ultricies tortor eu condimentum. Nullam vitae leo quis mi sollicitudin tristique. Fusce ut magna at sem facilisis luctus tincidunt a lorem. </div>
      </div>

      <div class="boxes">
        <h2>Where are we acting?</h2>
        <h3>Syria: 9m refugees</h3>
        <img src="http://lallopa.com/cmn/img/syria.jpg"  class="syria" />
        <div class="inBoxes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis massa vitae magna sollicitudin laoreet. Sed ac mattis massa.  </div>
      </div>

          <div class="clear"></div>

    </div>
    <!-- UNTIL HERE -->


	<%= link_to 'login', url_for(:user, :login) %>


